#
# $Id$
#
# Documents the customizable parameters for the ToyBox system

#
# Defines the directory under which all game and library resources will be
# stored on the server.

# resource_dir = 

#
# Defines the URL via which all game and library resources will be
# downloaded by the clients.

# resource_url = 

#
# Defines the port on which our game server's listen.

# server_port = 4007

#
# Defines the client authenticator used by the server.

# server_auth = com.foobar.FoobarAuthenticator

#
# A file to which the server will write an HTML snippet summarizing all
# occupied games

# occupancy_file = 
# occupancy_template = <whatever>NAME</text>GAME_ID<you>COUNT</like>

#
# Used when signing the Game Gardens client

# sign.keystore = PATH_TO_KEYSTORE
# sign.alias = ALIAS
# sign.storepass = PASSWORD

#
# Database configuration

db.default.driver = com.mysql.jdbc.Driver
db.default.username = USERNAME
db.default.password = PASSWORD
db.default.url = jdbc:mysql://DATABASE_HOST:3306/DATABASE_NAME

#
# Various configuration for the Game Gardens web application

web.login_url = register.wm?from=%R
web.access_denied_url = access_denied.wm
web.auth_cookie.strip_hostname = true
