/* standard bits */
body { 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  color: #000000;
}

a:link, a:visited { color: #B64141 }
a:hover { color: #8c1d12 }
a:active { color: #8c1d12 }

table {
  border-collapse: collapse;
  border-width: 0;
}

th, td, center, div { /* ns 4 */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

pre {
  font-family: Courier New, monospace;
}

ul {
  padding-left: 20px;
}

h1, h2, h4 { 
   font-family: Helvetica, Arial, sans-serif;
}

h3 {
   font-family: Helvetica, Arial, sans-serif;
   margin-bottom: 0px
}

/* fonts of all shapes and sizes */
.big { font-size: x-large }
.small { font-size: small }
.bigred {
  font-size: 20px;
  font-weight: bold;
  color: #CB0000;
}

/* main page styles */
.main_body {
  background: #a2d8d8 url(/images/main_background.png) repeat;
}

.main_header_left {
  background: url(/images/header_logo.png) no-repeat;
  vertical-align: bottom;
}

.main_header_right {
  background: url(/images/header_flower.png) no-repeat;
  font-weight: bold;
  color: #385d5d;
}

.main_header_navi {
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  background: #A2D7D7;
  font-weight: bold;
  padding: 5px;
}

.main_footer_navi {
  border: 1px solid #FFFFFF;
  background: #A2D7D7;
  font-weight: bold;
  padding: 5px;
}

.normal_body {
  background: #a2d8d8 url(/images/header_background.png) no-repeat;
}

.box_table {
  margin-left: 10px;
  margin-bottom: 10px
}
.box_left {
  background: url(/images/box/left.png) repeat;
  width: 4px;
}
.box_right {
  background: url(/images/box/right.png) repeat;
  width: 4px;
}
.box_bottom {
  background: url(/images/box/bottom.png) repeat;
  height: 4px;
}
.box_lower_left {
  background: url(/images/box/lower_left.png) no-repeat;
  width: 4px;
  height: 4px;
}
.box_lower_right {
  background: url(/images/box/lower_right.png) no-repeat;
  width: 4px;
  height: 4px;
}
.box_body {
  padding: 15px;
  background: #eef7f7;
}

.play_table {
  margin-left: 10px;
}
.play_table_bottom {
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #FFFFFF;
}
.left_cell {
  background: #A2D7D7;
  border-left: 1px solid #FFFFFF;
}
.right_cell {
  background: #A2D7D7;
  border-right: 1px solid #FFFFFF;
}
.play_cell {
  background: #A2D7D7;
}
.play_list {
  background: #FFFFFF;
  color: #B64141;
  vertical-align: top;
  font-weight: bold;
  padding-top: 10px;
  border-left: 1px solid #b64141;
  border-right: 1px solid #b64141;
}
.play_list li {
  padding-bottom: 8px;
}

/* other potentially obsolete bits */
.example {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  background-color: #CCCCCC
}

.ftable {
  color: #4b6419;
  font-weight: bold;
  font-size: small;
}

.ftable td {
  vertical-align: bottom;
}

.ftable a {
  color: #4b6419;
  font-weight: bold;
  font-size: small;
}
