#
# $Id$
#
# Game Gardens webapp database configuration

default.driver = org.gjt.mm.mysql.Driver
default.username = USERNAME
default.password = PASSWORD
default.url = jdbc:mysql://DATABASE_HOST:3306/DATABASE_NAME
