# -*- mode: sh -*-
#
# Local configuration for this Game Gardens installation.

#
# The user as whom the Game Gardens server will run. This user should have
# write access to the 'logs' and 'data' directory (which are contained in
# the same directory as this configuration file).

GARDENS_USER=gardens
