#
# $Id: mysql-master.cnf.dist 274 2005-02-02 04:40:30Z mdb $
# 
# The MySQL database master server configuration file.

[client]
port		= 3307 # stock is 3306
socket		= /var/run/mysqld/gardens-mysqld.sock

[mysqld_safe]
err-log		= /export/gardens/logs/mysql.err
socket		= /var/run/mysqld/gardens-mysqld.sock

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/gardens-mysqld.pid
socket		= /var/run/mysqld/gardens-mysqld.sock
port		= 3307
basedir		= /usr
datadir		= /export/gardens/data/mysql
tmpdir		= /tmp
language	= /usr/share/mysql/english
skip-locking
skip-innodb
key_buffer		= 16M
max_allowed_packet	= 1M
thread_stack		= 128K
query_cache_limit	= 1048576
query_cache_size        = 26214400
query_cache_type        = 1
# The following is our replication configuration
server-id		= 1
log-bin			= /export/gardens/data/mysql/mysql-bin.log
#binlog-do-db		= include_database_name
#binlog-ignore-db	= include_database_name

[mysqldump]
quick
max_allowed_packet	= 1M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
key_buffer		= 16M
