#
# Documents the customizable parameters for the ToyBox system

#
# Defines the directory under which all game and library resources will be
# stored on the server.

resource_dir = /export/gardens/pages/games

#
# Defines the URL via which all game and library resources will be
# downloaded by the clients. (Requires a trailing slash.)

resource_url = http://localhost/games/

#
# Defines the URL that users go to browse games and access the website part of
# Game Gardens (which may differ from the server_host and resource_url which
# hosts the game jar file downloads and the actual game server). (Does not
# require a trailing slash.)

website_url = http://localhost

#
# Defines the host and port on which our game server listens.

server_host = localhost
server_port = 47624

#
# Defines the client authenticator used by the server.

# server_auth = com.foobar.FoobarAuthenticator

#
# Database configuration

db.default.driver = org.hsqldb.jdbcDriver
db.default.username = sa
db.default.password = non
db.default.url = jdbc:hsqldb:mem:gardens

#
# Various configuration for the Game Gardens web application

web.login_url = register.wm?from=%R
web.access_denied_url = access_denied.wm
web.auth_cookie.strip_hostname = true
# web.webapp_auth = com.samskivert.servlet.user.UserManager
